/* ----------------------------------- Fonts
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Crimson Pro', serif;
*/

/* ----------------------------------- Body */

body {
    background-color:#ffccbc;
}

/* ----------------------------------- Navbar */

nav {
    box-shadow: none;
}

nav ul a {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.sidenav li>a {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 18px;
}

/* ----------------------------------- Headers and Paragraphs */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

p {
   font-family: 'Quicksand', sans-serif; 
}

strong {
    font-weight: 900;
}

/* ----------------------------------- Forms */

form {
    font-family: 'Quicksand', sans-serif;
}

button {
    font-family: 'Raleway', sans-serif;
}

/* label color */
.input-field label {
     color: #e57373;
}

/* valid color */
.input-field input[type=text].valid {
     border-bottom: 1px solid #bdbdbd;
     box-shadow: 0 1px 0 0 #fff3e0;
}

.select-dropdown {
    color: #e57373;
}

.dropdown-content li>span {
    color: #e57373;
}

/* ----------------------------------- Flash Messages */

.flashes h4 {
    line-height: 2;
}

/* ----------------------------------- Cards */

.collapsible-body {
    font-family: 'Crimson Pro', serif;
    font-size: medium;
}

/* ----------------------------------- Delete Modal */

.delete-header {
    margin: 0px;
}

.modal .modal-footer {
    text-align: center;
    padding: 4px 12px;
    height: 70px;
}

/* ----------------------------------- Delete Modal */

.social-icon { 
    width: 20px;
    height: 20px;
    margin: 0 5px; }