<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Quicksand&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Nutri-Smooth</title>
</head>
<body>
    <!-- Navbar -->          
    <nav class="orange lighten-5">
        <div class="nav-wrapper orange lighten-5"> 
            <a href="{{ url_for('index') }}" class="brand-logo"><img class="logo" src="{{ url_for('static', filename='images/logo-3.svg') }}"
                    width="325" alt="nutri-smooth logo"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons red-text text-lighten-2">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="red-text text-lighten-2" href="{{ url_for('index') }}">Home</a></li>
                <li><a class="red-text text-lighten-2" href="{{ url_for('get_recipes') }}">Smoothies</a></li>
                {% if session.user %}
                    <li><a class="red-text text-lighten-2" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a class="red-text text-lighten-2" href="{{ url_for('add_smoothie') }}">Add Smoothie</a></li>
                    {% if session.user|lower == "admin"|lower %}
                        <li><a class="red-text text-lighten-2" href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                    {% endif %}
                    <li><a class="red-text text-lighten-2" href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a class="red-text text-lighten-2" href="{{ url_for('register') }}">Register</a></li>
                    <li><a class="red-text text-lighten-2 tooltipped" data-position="bottom" data-tooltip="Sign In" href="{{ url_for('signin') }}"><i class="material-icons red-text text-lighten-2 person-icon">person</i></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Mobile SideNav-->
    <ul class="sidenav orange lighten-5" id="mobile-demo">
        <li><a href="{{ url_for('index') }}" class="brand-logo"><img class="logo" src="{{ url_for('static', filename='images/logo-3.svg') }}"
                    width="250" alt="nutri-smooth logo"></a></li>
        <li><a class="red-text text-lighten-2" href="{{ url_for('index') }}">Home</a></li>
        <li><a class="red-text text-lighten-2" href="{{ url_for('get_recipes') }}">Smoothies</a></li>
        {% if session.user %}
            <li><a class="red-text text-lighten-2" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a class="red-text text-lighten-2" href="{{ url_for('add_smoothie') }}">Add Smoothie</a></li>
            {% if session.user|lower == "admin"|lower %}
                <li><a class="red-text text-lighten-2" href="{{ url_for('get_categories') }}">Manage Categories</a></li>
            {% endif %}
            <li><a class="red-text text-lighten-2" href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
            <li><a class="red-text text-lighten-2" href="{{ url_for('signin') }}">Sign In</a></li>
            <li><a class="red-text text-lighten-2" href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>

    <!-- Flash Messages -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="center-align red-text text-lighten-2">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <!-- Main Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <a href="{{ url_for('index') }}" class="brand-logo"><img class="logo" src="{{ url_for('static', filename='images/footer-logo.svg') }}"
                    width="300" alt="nutri-smooth logo"></a>
                    <h5 class="orange-text text-lighten-5">For smoothie lovers...<i class="material-icons orange-text text-lighten-5">favorite</i></h5>
                    <p class="orange-text text-lighten-5">Nutri-Smooth is your online recipe book for saving and sharing all of your favourite smoothie recipes and their nurtitional benefits!
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="orange-text text-lighten-5" href="{{ url_for('index') }}"><h5>Home</h5></a></li>
                        <li><a class="orange-text text-lighten-5" href="{{ url_for('get_recipes') }}"><h5>Smoothies</h5></a></li>
                        {% if session.user %}
                        <li><a class="orange-text text-lighten-5" href="{{ url_for('profile', username=session['user']) }}"><h5>Profile</h5></a></li>
                        <li><a class="orange-text text-lighten-5" href="{{ url_for('add_smoothie') }}"><h5>Add Smoothie</h5></a></li>
                        {% if session.user|lower == "admin"|lower %}
                        <li><a class="orange-text text-lighten-5" href="{{ url_for('get_categories') }}"><h5>Manage Categories</h5></a></li>
                        {% endif %}
                        <li><a class="orange-text text-lighten-5" href="{{ url_for('logout') }}"><h5>Log Out</h5></a></li>
                        {% else %}
                        <li><a class="orange-text text-lighten-5" href="{{ url_for('signin') }}"><h5>Sign In</h5></a></li>
                        <li><a class="orange-text text-lighten-5" href="{{ url_for('register') }}"><h5>Register</h5></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container orange-text text-lighten-5">
                © 2021 Roxanne Boulden
                <a class="right social-icon" target="_blank" href="https://www.facebook.com/"><img src="{{ url_for('static', filename='images/facebook.svg') }}" alt="facebook icon"></a>
                <a class="right social-icon" target="_blank" href="https://www.instagram.com/"><img src="{{ url_for('static', filename='images/instagram.svg') }}" alt="instagram icon"></a>
                <a class="right social-icon" target="_blank" href="https://www.pinterest.com/"><img src="{{ url_for('static', filename='images/pinterest.svg') }}" alt="pinterest icon"></a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>

