<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Nutri-Smooth</title>
</head>
<body>          
    <nav class="nav-extended">
        <div class="nav-wrapper orange lighten-5">
            <a href="#!" class="brand-logo"><img src="{{ url_for('static', filename='images/nutri-smooth.svg') }}"
                    width="250" class="brand-logo" alt="nutri-smooth logo"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons red-text text-lighten-2">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="red-text text-lighten-2" href="sass.html">Sass</a></li>
                <li><a class="red-text text-lighten-2" href="badges.html">Components</a></li>
                <li><a class="red-text text-lighten-2" href="collapsible.html">Javascript</a></li>
                <li><a class="red-text text-lighten-2" href="mobile.html">Mobile</a></li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidenav orange lighten-5" id="mobile-demo">
        <li><a class="red-text text-lighten-2" href="sass.html">Sass</a></li>
        <li><a class="red-text text-lighten-2" href="badges.html">Components</a></li>
        <li><a class="red-text text-lighten-2" href="collapsible.html">Javascript</a></li>
        <li><a class="red-text text-lighten-2" href="mobile.html">Mobile</a></li>
    </ul>
    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>

